.button-add-item {
  width: 30%;
  border-radius: 10px;
  transition: 1s;
}

.button-add-item:hover {
  background-color: #0dcaf0;
}

.item-add-form {
    margin-top: 20px;
}

.item-add-form input {
    margin-right: 3px;
}